<ion-header>
    <ion-toolbar color="tertiary">
        <ion-title>
            Enter Details
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text" [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Surname</ion-label>
        <ion-input type="text" [(ngModel)]="surname"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Age</ion-label>
        <ion-input type="number" [(ngModel)]="age"></ion-input>
    </ion-item>


    <ion-item>
        <ion-label>Gender</ion-label>
        <ion-select interface="popover" [(ngModel)]="gender">
            <ion-select-option value="Female">Female</ion-select-option>
            <ion-select-option value="Male">Male</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-button expand="full" shape="round" color="tertiary" (click)="print()">Full Button</ion-button>

</ion-content>